<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>


  <body>
    <h1>WE'LL BE RIGHT BACK</h1>
    <p>This site is under maintenance</p>
  </body>
</html>
